@page
@model DigitalAssistantApp.Pages.Groups.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Добавить запись</h1>

<h4>Группы</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            
            <div class="form-group">
                <label asp-for="Group.GroupNumber" class="control-label"></label>
                <input asp-for="Group.GroupNumber" class="form-control" />
                <span asp-validation-for="Group.GroupNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.SpecId" class="control-label"></label>
                <select asp-for="Group.SpecId" class="form-control" asp-items="ViewBag.SpecId"></select>
                <span asp-validation-for="Group.SpecId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Доабвить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Вернуться назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
