@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловть</h1>
    <p>Перед вами предварительная версия приложения "Цифровой ассистент кафедры"</a>.</p>
</div>
